name: workflow

on:
  push:
    branches:
      - main

jobs:
  docker-ghcr-release:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read    
    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
 
      - uses: docker/build-push-action@v6        
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/pdfcraft:latest
 